/*****************************
*
* Color Pallete
*
*****************************/

$gradient: 10%;

$AircraftTabColor: darken(brown, $gradient);
$FacilitiesTabColor: darken(blue, $gradient);
$FleetTabColor: darken(red, $gradient);
$ObstaclesTabColor: darken(orange, $gradient);
$OptionsTabColor: darken(purple, $gradient);
$ReportsTabColor: darken(pink, $gradient);
$UtilitiesTabColor: darken(purple, $gradient);

/*****************************
*
* Tab and TabMarker
*
*****************************/
#AircraftTab {
  background-color: $AircraftTabColor;
}
#FacilitiesTab {
  background-color: $FacilitiesTabColor;
}
#ObstaclesTab {
  background-color: $ObstaclesTabColor;
}
#FleetTab {
  background-color: $FleetTabColor;
}
#OptionsTab {
  background-color: $OptionsTabColor;
}
#OptionsTab {
  background-color: $OptionsTabColor;
}
#ReportsTab {
  background-color: $ReportsTabColor;
}
#UtilitiesTab {
  background-color: $UtilitiesTabColor;
}

$lightenBy: 8%;

#AircraftTabMarker {
  background-color: $AircraftTabColor;
  &:hover {
    background-color: lighten($AircraftTabColor, $lightenBy);
  }
}
#FacilitiesTabMarker {
  background-color: $FacilitiesTabColor;
  &:hover {
    background-color: lighten($FacilitiesTabColor, $lightenBy);
  }
}
#ObstaclesTabMarker {
  background-color: $ObstaclesTabColor;
  &:hover {
    background-color: lighten($ObstaclesTabColor, $lightenBy);
  }
}
#FleetTabMarker {
  background-color: $FleetTabColor;
  &:hover {
    background-color: lighten($FleetTabColor, $lightenBy);
  }
}
#OptionsTabMarker {
  background-color: $OptionsTabColor;
  &:hover {
    background-color: lighten($OptionsTabColor, $lightenBy);
  }
}
#OptionsTabMarker {
  background-color: $OptionsTabColor;
  &:hover {
    background-color: lighten($OptionsTabColor, $lightenBy);
  }
}
#ReportsTabMarker {
  background-color: $ReportsTabColor;
  &:hover {
    background-color: lighten($ReportsTabColor, $lightenBy);
  }
}
#UtilitiesTabMarker {
  background-color: $UtilitiesTabColor;
  &:hover {
    background-color: lighten($UtilitiesTabColor, $lightenBy);
  }
}
$tabWidth: 95%;
$tabHeight: 100%;
$tabMarkerWidth: 40px;
$tabMarkerHeight: 120px;
$tabMarkerMargin: 0;
$transitionDuration: .4s;

.Tab {
  position: absolute;
  height: $tabHeight;
  width: $tabWidth;
  //width: 0; //start at 0 to do animation
  //transition: width $transitionDuration;
}

// .Tab.open {
//   width: $tabWidth;
// }

.Tab.left {
  left: 0;
}

.Tab.right {
  right: 0;
}

.TabMarker {
  position: absolute;
  width: $tabMarkerHeight;
  height: $tabMarkerWidth;
  border-top-left-radius: 100% 25%;
  border-top-right-radius: 100% 25%;
  color: white;
  //font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 3;
  font-family: arial;
  box-shadow: 1px -1px black;
}

.TabMarker:hover {
  cursor: pointer;
}

.TabMarker.left {
  left: 0;
  transform: rotate(90deg);
  transform-origin: left $tabMarkerWidth;
  transition: left $transitionDuration;
}

.TabMarker.right {
  right: 0;
  transform: rotate(-90deg);
  transform-origin: right $tabMarkerWidth;
  transition: right $transitionDuration;
}

.TabMarker.sequence0 {
  top: $tabMarkerMargin + 0*$tabMarkerHeight;
}

.TabMarker.sequence1 {
  top: $tabMarkerMargin + 1*$tabMarkerHeight;
}
.TabMarker.sequence2 {
  top: $tabMarkerMargin + 2*$tabMarkerHeight;
}
.TabMarker.sequence3 {
  top: $tabMarkerMargin + 3*$tabMarkerHeight;
}
.TabMarker.sequence4 {
  top: $tabMarkerMargin + 4*$tabMarkerHeight;
}
.TabMarker.sequence5 {
  top: $tabMarkerMargin + 5*$tabMarkerHeight;
}
.TabMarker.sequence6 {
  top: $tabMarkerMargin + 6*$tabMarkerHeight;
}

.TabMarker.left.open {
  left: $tabWidth;
}

.TabMarker.right.open {
  right: $tabWidth;
}


/*****************************
*
* TabMenu and children
*
*****************************/
>>>>>>> e21940b5f6f5f5f6f8012c4ad983971ac321f004
